.footer {
  background-color: var(--footer-background);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  margin-bottom: 60px;
}
.address {
  margin-top: 20px;
}
.address__map {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 8px;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}
.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  width: 206px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.footer-social__item {
  width: 44px;
  height: 44px;
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-social__icon {
  fill: currentColor;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.subscription__input {
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and(min-width: 480px) {
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}
.subs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  margin: 0 auto;
}
.subs-button__icon-send {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer__address {
    margin-bottom: 0;
  }

  .footer-social {
    margin: 0;
  }

  .subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
    & .container {
      display: flex;
      justify-self: start;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .subscription__form {
    margin: 0;
    display: flex;
  }
  .subscription__input {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 358px;
  }

  .footer__address {
    margin-bottom: 0;
  }
  .footer-social {
    margin-left: 70px;
    margin-right: 93px;
  }

  .subscription {
    margin-top: 0;
  }
}
